<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="close()">
         Abbrechen
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="save()" [disabled]="!this.itemForm.valid">
         Speichern
      </ion-button>
    </ion-buttons>
    <ion-title>Neues Produkt hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>


  <form [formGroup]="itemForm" class="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Menge</ion-label>
        <ion-input formControlName="amount"></ion-input>
      </ion-item>
      <ion-item>
         <ion-select label="Einheit" placeholder="Einheit" formControlName="unit" okText="Bestätigen" cancelText="Abbrechen">
          @for (unit of units; track $index) {
            <ion-select-option value="{{unit}}">{{unit}}</ion-select-option>
          }
         </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Kategorie" placeholder="Kategorie" formControlName="category">
          @for (category of categories; track $index) {
            <ion-select-option value="{{category}}">{{category}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

